*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}

.container-home h1{
    margin-top: 2rem;
    font-size: 4rem;
}

.btn{
    margin-top: 2rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border:solid #0A3871;
    background-color: #fff;
    color: #0A3871;
    border-radius: 24px;
    font-size: 2vw;
}

.btn:hover{
    background-color: #0A3871;
    color: #fff;
}

.container-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
}

.container-btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.container-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
}

.container-zone-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.container-horca{
   
    
}

.container-zone-result{
    margin-bottom: 1rem;
}

h2{
    margin-top: 3rem;
}

.form-control{
    margin-top: 4rem;
    width: 90%;
    padding: 1rem 1rem;
    border: none none thin;
}
.noView{
    display: none;
}

.container-footer{
    width: 100%;
    padding: 10px 10px;
    margin-top: 1rem;
    text-align: center;
    background-color: #0A3871;
    color: #ffffff;
}

.chtm{
    color: red;
    font-size: 30px;
}

.ccss{
    color: blue;
    font-size: 30px;
}

.cjs{
    color: yellow;
    font-size: 30px;
}

.word_{
    font-size: 3rem;
    color: #0A3871;
}

.container-keyword{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.btn-key{
    padding: .3rem;
    background-color: #fff;
    color: #0A3871;
    cursor: pointer;
    border-radius: 55%;
}

.btn-key:hover{
    background-color: #0A3871;
    color: #fff;
}

.disable{
    display: none;
}

#msg{
    font-size: 2rem;
    color: green;
}

#msg-err{
    font-size: 2rem;
    color: red;
}

.win{
    font-size: 2rem;
}

@media screen and (min-width: 800px) {

    .container-zone-game{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 90vh;
    }

    
}